# client
.listcache

# modules
client_packages/modules/*
!client_packages/modules/README.md

# server binary
ragemp-server.exe
BugTrap-x64.dll
conf.json
dotnet/
bin/
maps/
.consoleHistory
server.log
server.log.gz
server.log.gz.*

# nodejs binary
node_modules/
.npmrc
.editorconfig
package-lock.json
yarn-error.log
yarn.lock
