# client
.listcache

# modules
client_packages/.gitignore
client_packages/modules/*
!client_packages/modules/README.md
modules/*
!modules/README.md

# server binary
ragemp-server
ragemp-server.exe
BugTrap-x64.dll
conf.json
bin/
dotnet/
maps/
plugins/
.consoleHistory
server.log
server.log.gz
server.log.gz.*

# nodejs binary
node_modules/
.npmrc
package-lock.json
yarn-error.log
yarn.lock
